

<div ng-hide="triesToLog" class="container-fluid">
    <div  class="container-fluid">
        <div class="container">
            <div class="row">
                <div ng-repeat="product in cartItems" class="col-xs-6 col-md-4 ">
                    <a href="#"><img class="img-thumbnail" ng-src={{product.img}}></a>
                    <p id="pName">{{product.name}}</p>
                    <a class="btn-buy" ng-click="addToCart(product)" href="#">Buy {{product.name}}</a>        <br>
                    <a class="btn-buy" ng-click="removeFromChart(product)" href="#">Remove {{product.name}}</a>        <br>
                    <h5> {{product.price ||currency }}</h5></div>
            </div>
            <h3> {{totalPrice}}</h3>
            <button ng-click="addThemAll()" type="submit"> Buy </button>
        </div>
    </div>

</div>
