body, html {
    /*background: url(http://www.fotoik.pl/zdjecia_2015/32722-20151118145425.jpg)
    no-repeat; */
    background-size: cover;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    height: 100%;
    margin: 0;
    padding: 0;


}
#searchSymbol {
    width: 30px;
}
#searchSymbol:hover {
    cursor: pointer; cursor: hand;
}

.pagination ul>.active>a, .pagination ul>.active>span {
    color: deeppink;
    font-weight: 600;
}
.ng-binding {
    border-right: none;
}
#pagi {
    width: 100%;
    text-align: center;
}
.borderless {
    border-right: none;
}

.pagenumber {
    background-color: #dacfd6;
    padding: 10px 10px 10px 10px;
}

#btn1, #btn2 {
    z-index: 9999;
    background-color: #46C9B6;
    border: none;
}

#results {
    margin-top: 40px;
}

input.gsc-search-button {

    display: inline-block;
    border-radius: 0px;
    height: 35px;
    width: 50px;
}

* {
    box-sizing: border-box;
}

.last
{
    border: none;
}
.first {
    border-right: 1px solid black;
}
#f
{
    height: 100px;
    width: 20%;
}


.container-fluid a {
    margin-bottom: 30px;
}
.container {
    /*min-height:100%;*/
    position: relative;
    border-top: 1px solid#eee;
    border-bottom: 1px solid  #d2d2d2;
}

.col-sm-6{
    margin: 10px;
    height: 40px;
}
.col-md-3 {
    background-color: #fbfff0;
    padding: 60px 10px 10px 10px;

}
img{
    width: 80%;
}

#imgResult {
    max-width: 80%;
}
.container .row {
    margin-bottom: 30px;
    display: inline-block;
}

.footer
{
    border-top: 1px solid rgba(0,0,0,0.25);
    margin-top: 30px;
    left:0;
    position: fixed;
    bottom:0;
    width:100%;
    height:70px;   /* Height of the footer */
    background: #DACFD6;
    float: right;
    /*padding: 10px 10px;*/

}

.footer p {
    color: #888888;
    margin-left: 20px;
    margin-top: 17px;
    font-size: 12px;

}
.footer a {
    float: right;
    text-align: right;
    margin-right: 30px;
    margin-top: -30px;

    color: #000;

}
.footer a:hover {
    color: #17ffa5;;
    text-decoration: none;
    text-shadow: 0px 2px 2px #85f3ff;
}

#f {
    width: 100%;
}


.container a {
    color: #454745;
}
ol li {
    display: inline-block;
}

a {
    color: #454745;
}
.col-md-12 {
    margin-top: 53px;
    color: white;
    height: 390px;
    padding: 50px 60px 20px 60px;
    text-align: right;
    background: url("http://i.huffpost.com/gen/1703513/images/o-LOS-ANGELES-facebook.jpg" )no-repeat center center ;
    background-size: 100% 160%;}

.col-md-3 {
    background: none;
}

.nav {
    margin-top: -44px;
    position: fixed;
    z-index: 9999;
}
/* This is the desktop version!


**

*

**

*/
@media screen and (min-width: 1024px) {
    ul li a {
        margin-top: 40px;
    }
    .row a{
        display: block;

    }
    .container-fluid a {

        display: block;
        margin-bottom: 10px;
    }
    .container
    {
        width: 100%;


    }
    #title {
        color: white;
        font-family: Helvetica;
        margin-bottom: -50px;

    }

    h1 {
        font-family: 'Source Sans Pro', sans-serif;
        color: #fff;
        margin-top: 250px;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 1.0);
        font-size: 20px;
        font-weight: 200;
    }

    h2 {

        text-align: right;
        margin-top: -20px;
    }

    ul {
        list-style: none;
        display: inline-block;
        background-color: #fff;

    }

    ul li {
        display: inline-block;
        padding: 10px 10px;
        text-align: center;

    }

    ul li a {
        text-transform: uppercase;
        color: #000;
        border-right: solid 1px black;
        padding: 10px 50px 10px 10px;
        text-align: center;
        text-decoration: none;

    }

    ul li a:hover {
        color: #46C9B6;
        text-shadow: 0px 2px 2px #85f3ff;
        text-decoration: none;
    }

    .nav {

        width: 100%;
        height: 60px;
        padding: 15px;
        text-align: center;
    }

    .nav {
        margin-top: -52px;
        position: fixed;
        z-index: 9999;
    }

    .navbar {
        color: #cccccc;
        background-color: #fff;
        padding: 10px 10px;

    }

    .navbar .navbar-header .last {
        border-left: 1px solid black;
        margin-left: -14px;
        margin-right: 40px;
        padding: 0px 5px;
    }

    .basket {
        width: 15%;
        margin-right: -15px;
    }

    .search {
        width: 15%;
    }

    .logo {
        width: 15%;
        margin-right: 40px;
    }

    .navbar-right {
        color: #000;
    }

    .navbar-right a {
        background-color: #fff
    }

    .navbar ul li a {
        padding: 0px 0px 0px 0px;
        background-color: inherit;
        border: none;
    }

    .supporting {
        text-align: right;
        height: 300px;
        background-color: #e3e3e3;
    }

    .pull-right {
        text-align: right;
        color: #cccccc;
        margin-top: -40px;
    }

    .pull-right a {
        color: #888888;
    }

    span {
        color: #cccccc;
    }
}
/* This is the end of desktop version!


**

*

**

*/


@media screen and (max-width: 1023px) {

    body {
        font-family: Helvetica;
        font-size: 16px;
        color: #333;
    }
    ul {
        list-style: none;
        color: #000;
    }
    ul li {
        list-style:none;
        display: inline-block;
        color: black;
    }

    .navbar {
        padding: 20px 20px 20px 20px;
    }

    .basket {
        float: left;
        width: 45%;
        margin-right:-60px;
    }
    .navbar .navbar-header ul li {
        display: inline-block;
    }
    .navbar .navbar-header ul li a{
        display: inline-block;
        color: #454745;
        margin-right: -20px;
    }
    form {

    }
    .logo {
        width: 100%;
        display: block;
        text-align: right;
        margin-right:-400px;

    }

    .pull-right {
        text-align: left;
        color: #cccccc;
        margin-top: -40px;
        width: 40%;

    }

    .pull-right a {
        color: #888888;
        text-align: left;
        display: inline-block;

    }
    .sign {
        display: inline-block;
        margin-left: 20px;
    }

    .navbar .navbar-header ul li a {
        color: #333;
    }
    .navbar .navbar-header ul li {

        margin-top: 140px;

    }

    .nav ul li a {
        color: #454745;
        /*padding: 20px 20px 20px 20px;*/
        /*margin: 20px 20px 20px 20px;*/
        width: 70px;
        display: inline-block;
    }


    ul {
        list-style: none;
        display: block;


    }

    .nav ul {
        background-color: #dacfd6;
    }

    ul li {
        display: inline-block;
        padding: 0 0;
        text-align: center;

    }

    ul li a {
        text-transform: uppercase;
        color: #000;
        text-align: left;
        text-decoration: none;

    }
    .supporting {
        margin-bottom: 10px;
    }
    img {
        width: 99%;
        border: 3px solid #e5d8df;
    }
    .img-thumbnail {
        border: 8px solid #e5d8df;
        width: 20%;
    }




}

